search --set=root --file /root

insmod all_video

set default="0"
set timeout=30

menuentry "Try Vanilla OS without installing" {
   linux /casper/vmlinuz file=/cdrom/preseed/mbp.seed boot=casper ro pcie_ports=compat intel_iommu=on iommu=pt ---
   initrd /casper/initrd
}
menuentry "Try Vanilla OS without installing (Safe Graphics)" {
   linux /casper/vmlinuz file=/cdrom/preseed/mbp164.seed boot=casper ro nomodeset pcie_ports=compat intel_iommu=on iommu=pt ---
   initrd /casper/initrd
}
